<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706843254905-56f4tvmedjbkavqoum4u4r574sd6be7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706843254905-56f4tvmedjbkavqoum4u4r574sd6be7m</string>
	<key>API_KEY</key>
	<string>AIzaSyCkRpkjXe4qb3BoEqKlSBlbtaqdjrvYELc</string>
	<key>GCM_SENDER_ID</key>
	<string>706843254905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mathriddles.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>math-riddler</string>
	<key>STORAGE_BUCKET</key>
	<string>math-riddler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706843254905:ios:e6fb46c1cab739081db4a8</string>
</dict>
</plist>